@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

nav {
    padding: 25px;
    width: 100%;
    top: 0;
    background-color: rgba(248, 245, 232, 255);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

body {
    background-color: rgba(248, 245, 232, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 100%;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.photo-content {
    padding-top: 20px;
}

.photo-title {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo {
    max-width: 70%;
    height: auto;
    min-width: 1000px;
}

.cover-art {
    width: 500px;
    height: auto;
}

.music-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.music-content {
    padding: 20px;
}

.music-title {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text {
    margin: 50px 10px 30px 10px;
    justify-content: center;
}