@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

img {
    user-select: none;
}

nav {
    padding: 25px;
    top: 0;
    background-color: rgba(248, 245, 232, 255);
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: dimgray;
}

a:active {
    font-weight: bold;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

body {
    background-color: rgba(248, 245, 232, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 100%;
}

.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    width: 70%;
}

.photo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    width: 70%;
}

.photo-content {
    padding-top: 20px;

}

.photo-title {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.cover-art {
    width: 500px;
    height: auto;
}

.cover-art:hover {
    filter: saturate(150%);
}

.music-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.music-content {
    padding: 20px;
}

.music-title {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-grid {
    padding-top: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.music-grid-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.music-grid-item img {
    max-width: 100%;
    height: auto;
}

.footer-text {
    margin: 50px 10px 30px 10px;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .music-grid {
        width: 100%;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .music-grid-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .video-item,
    .music-item {
        width: 70%;
        padding: 20px;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}